.web-analyzer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	background-position: left;
	background-repeat: no-repeat;

	color: $white;

	height: 25em;

	padding: 0 1em;

	.heading {
		text-align: center;
		position: relative;

		&:before {
	    content: "";
	    position: absolute;
	    width: 50%;
	    height: 1px;
	    bottom: 0;
	    left: 0;
	    border-bottom: 5px solid $g-800;
	    border-radius: 1em;
	  }
	}

	.inner-analyzer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		form {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			input {
				background: $g-100;
				padding: 0.25em 1em;

				border-radius: 1em;
				border: 2px solid $g-800;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				border-right: 0;

				&:focus, &:hover {
					box-shadow: 0 0 10px 2px rgba($b-800, 0.4);
				}
			}

			button {
				background: $b-100;
				padding: 0.2em 0.5em;

				border: none;
				border-radius: 1em;
				border: 2px solid $g-800;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 0;

				&:focus, &:hover {
					box-shadow: 0 0 10px 2px rgba($b-800, 0.4);
					cursor: pointer;
				}
			}
		}

		p {
			line-height: 1.3;
			text-align: justify;
			font-weight: 600;
		}
	}
}

@media only screen and (min-width: 996px) {
	.web-analyzer {

		.inner-analyzer {
			flex-direction: row;
			width: 50%;


			p {
				width: 35%;
			}
		}
	}
}