<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "head.html" . -}}
  </head> 
  <body>
    {{- partial "header/header.html" . -}}
    {{- block "main" . }}{{- end }}

    {{ with .GitInfo }}
      <div class="commit-info">
        <p>
          Page updated: {{ .AuthorDate.Format ("02 Jan 06 15:04 MST") }}. <a href="https://github.com/bootyocean18/rsdc/commit/{{ .Hash }}" target="_blank">{{ .AbbreviatedHash }}</a>.
        </p>
        <p>Author says: "{{ .Subject }}"</p>
      </div>
    {{ end }}

    {{- partial "footer/footer.html" . -}}
    {{- partial "footer/scripts.js.html" . -}}
  </body>
</html>
