<footer class="big-information">
	<section>
		Left
	</section>
	<section>
		middle
	</section>
	<section>
		<h4>Contact Me:</h4>
		<ul>
			{{ range .Site.Menus.social }}
				<li>
					<a href="{{ .URL }}" alt="{{ .Name }}">
						{{ .Pre }}
					</a>
				</li>
			{{ end }}
		</ul>

		<form class="footer-form" netlify>
			<input type="text" name="name" placeholder="Name">
			<input type="email" name="email" placeholder="Email">
			<textarea name="comment">Your Comment</textarea>
			<input type="submit" name="submit" value="Send!">
		</form>
	</section>
</footer>

<footer class="copyright">
	<p>All Content Copyright <i class="fa-light fa-copyright fa-fw"></i> 2005 - {{ .Date.Format "2006" }} Remy Sheppard. All Rights Reserved.</p>

	<span style="margin-left: auto;">
		<a href="#">
			Sitemap
		</a>
			&nbsp;&middot;&nbsp;
		<a href="#">
			Legal
		</a>
	</span>
</footer>

<script type="text/javascript">
	document.querySelector(".footer-form").addEventListener("submit", handleSubmit);

	const handleSubmit = (e) => {
	  e.preventDefault()
	  let myForm = document.getElementById('pizzaOrder');
	  let formData = new FormData(myForm)
	  fetch('/', {
	    method: 'POST',
	    headers: { "Content-Type": "application/x-www-form-urlencoded" },
	    body: new URLSearchParams(formData).toString()
	  }).then(() => document.querySelector('.success').classList.toggle('show')).catch((error) =>
	    alert(error))
	}
</script>