{{ if eq .Section "blog" }}
<script type="text/javascript">
	// { Define some variables }
	const blogSplash = document.querySelector('.blog-splash');

	// { Make the little blog splash image transform on click }
	blogSplash.addEventListener('click', function() {
	 this.classList.toggle('blog-splash-full')
	});

	// { A little accessibility goes a long way }
	// { A11Y consideration code by @D__Gilbertson }
	// { https://medium.com/hackernoon/removing-that-ugly-focus-ring-and-keeping-it-too-6c8727fefcd2 }
	function handleFirstTab(e) {
    if (e.keyCode === 9) { // the "I am a keyboard user" key
        document.body.classList.add('user-is-tabbing');
        window.removeEventListener('keydown', handleFirstTab);
    }
	}

	window.addEventListener('keydown', handleFirstTab);
</script>
{{ end }}

{{ if .IsHome }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}