// { Colors File }
// { Basics }
$black: #000;
$white: #fff;
$yellow: #ffed66;
$red: #eb5e55;
$purple: #565264;
$blue: #63b0cd;
$green: #49a078;

// { Color Breakdowns }
  // { Yellow }
  $y-100: #fffdeb;
  $y-200: #fffad6;
  $y-300: #fff5ad;
  $y-400: #fff185;
  $y-500: $yellow;
  $y-600: #ffe733;
  $y-700: #ffe20a;
  $y-800: #e0c600;
  $y-900: #b8a200;

  // { Red }
  $r-100: #fbddda;
  $r-200: #f6bab6;
  $r-300: #f29891;
  $r-400: #ee766d;
  $r-500: $red;
  $r-600: #c92318;
  $r-700: #921a11;
  $r-800: #6e130d;
  $r-900: #490d09;

  // { Purple }
  $p-100: #d4d2da;
  $p-200: #b4b0bf;
  $p-300: #938fa3;
  $p-400: #736e87;
  $p-500: $purple;
  $p-600: #43404f;
  $p-700: #3a3743;
  $p-800: #302e38;
  $p-900: #1d1c22;

  // { Blue }
  $b-100: #d1e8f0;
  $b-200: #b2d8e6;
  $b-300: #a3d0e1;
  $b-400: #84c1d7;
  $b-500: $blue;
  $b-600: #3c98b9;
  $b-700: #327e9a;
  $b-800: #28657b;
  $b-900: #193f4d;

  // { Green }
  $g-100: #b9dfcd;
  $g-200: #8fccaf;
  $g-300: #73bf9c;
  $g-400: #57b288;
  $g-500: $green;
  $g-600: #408c69;
  $g-700: #3a7e5e;
  $g-800: #2d6249;
  $g-900: #204634;
