footer {
	color: $b-100;
	margin-top: 1em;
}

.copyright {
	background: linear-gradient(45deg, $b-900, $b-800);
	padding: 0.5em 2em;

	display: flex;
	align-items: center;

	font-size: $xsmall;

	a {
		font-weight: 600;
		color: $r-200;

		&:hover {
			color: $b-100;
		}
	}
}
