header {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 105px;

	box-shadow: 0 5px 10px 1px rgba($black, 0.6);

	a {
		text-decoration: none;
		color: $b-700;

		border-bottom: 3px solid transparent;

		line-height: 1em !important;

		img {
			display: inline;
			margin-left: 1rem;
		}

		&:hover {
			color: $b-800;
			text-decoration: underline;
			text-decoration-color: $b-200;
		}
	}

	nav {
		margin-left: auto;
		margin-right: 1em;

		a {
			display: inline-block;
			position: relative;

			border: none;
			color: $b-600;

			margin: 0 1em 0 0 ;

			&::after {
				content: attr(name);
				position: absolute;
				left: -2em;
				right: -2em;
				bottom: -2em;
				font-size: $xsmall;
				text-align: center;
				opacity: 0;
				transition: opacity 0.2s ease;
			}

			&:hover {
				color: $b-800;
				text-decoration: none;

				&::after {
					opacity: 1;
				}
			}
		}

	}
}