.main-menu {
	position: relative;
	bottom: calc(100% - 105px);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 0;
	background: #505050;

	transition: all 0.3s ease;

	.menu-content {
		display: none;
		list-style: none;
		margin: 0;

		.menu-item {

		}

		li {
			border-radius: 25px;
			margin: 1em 0;
			
			a {
				color: $white;
				text-decoration: none;
				
				padding: 1em 2em;
				margin: 2em 0;

				border-radius: 25px;

				transition: background 0.3s ease;

				&:hover {
					background: $p-700;
				}

			}
		}
	}

}

.menu-expanded {
	height: 65vh;

	.menu-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%; width: 100%;
	}
}

.main-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .2s ease;
  background: #eb5e55;
  position: fixed;
  top: 1em;
  right: 1.5em;
  height: 3em;
  width: 3em;
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  box-shadow: 0 0 5px 1px rgba($black,0.6);
}