.list-splash {
	height: 20rem;
	overflow: hidden;
	box-shadow: inset 0 -5px 10px 0 rgba($black, 0.6), inset 0 5px 10px 0 rgba($black, 0.6);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: $white;

	padding: 0 2em;
}

.list-pages {
	display: flex;
	flex-direction: column;
	margin: 1em auto;
	justify-content: space-between;
	align-items: center;
	width: 60%;

	.list-view-post {
		display: block;
		width: 100%;
		
		margin: 0.5em 0;
		padding: 0.5em 1.5em;
		
		border-radius: 0.5em;
		border: 3px solid $g-300;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
		text-align: center;
		text-decoration: none;
		color: rgba($white, 0.5);

		box-shadow: 0 0 10px 1px rgba($black, 0);

		transition: all 0.3s ease;

		&:hover {
			color: $white;
			box-shadow: 0 0 10px 0 rgba($black, 0.6);
		}
	}
}