.list-splash {
	height: 20rem;
	overflow: hidden;
	box-shadow: inset 0 -5px 10px 0 rgba($black, 0.6), inset 0 5px 10px 0 rgba($black, 0.6);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	display: flex;
	flex-direction: column;
	justify-content: center;

	color: $white;

	padding: 0 2em;
}

.list-pages {
	display: flex;
  flex-flow: row wrap;
  margin: 1em;

	.list-view-post {
	  flex: auto;
	  height: 250px;
	  min-width: 100px;
	  margin: 0 8px 8px 0; 

	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;

	  color: rgba($white,0.6);
	  text-decoration: none;

	  box-shadow: 0 0 10px 0 rgba($black, 0);

	  border-radius: 1em;

	  transition: all 0.25s ease;

	  &:hover {
	  	color: $white;
			box-shadow: 0 0 10px 1px rgba($black, 0.6);
	  }

		&:nth-child(4n+1) {
		  width: 250px;
		}
		&:nth-child(4n+1):nth-child(4n+2) {
		  width: 325px;
		}
		&:nth-child(4n+1):nth-child(4n+3) {
		  width: 180px;
		}
		&:nth-child(4n+1):nth-child(4n+4) {
		  width: 380px;
		}

		.post-meta-data {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			padding: 2em;
			
			text-align: center;

			font-size: $xsmall;

			h2 {
				font-size: $base;
				text-transform: uppercase;
				margin-top: 0;
			}
		}

	}
}