*::-webkit-scrollbar-track
{
    box-shadow: none;
    border-radius: 10px;
}

*::-webkit-scrollbar
{
    width: 10px;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: $b-800;

    &:hover {
        background-color: $b-900;
    }
}
