{{ $src := ((resources.Get "images/circuits.png").Resize "x800 webp q80") }}
<section class="web-analyzer" style="background-image:linear-gradient(90deg,rgba(87,178,136,.5), #408c69 50%), url('{{ $src.RelPermalink }}');">
	<h3 class="h2 heading">How does your website <em>stack up</em>?</h3>
	<div class="inner-analyzer">
		<p>Find out how your website is performing across the board with your <em>customers</em> and <em>search engines</em> alike using my free tool!</p>
		<form action="/analyzer-results" method="get">
			<input type="url" placeholder="https://" name="url">
			<button type="submit" class="submit-button">
				<i class="fa-solid fa-arrow-right fa-fw fa-xl"></i>
			</button>
		</form>
	</div>
	<small class="xsmall">Please note this feature doesn't work yet.</small>
</section>