{{ define "main" }}

	{{ $feature := resources.Get "images/feature.jpg" }}

	{{ partial "home-header.html" . }}

	{{ .Content }}

  {{ $paginator := .Paginate (where site.RegularPages "Type" "eq" "blog") }}
	
	<section class="list-pages">
		{{ range (where site.RegularPages "Type" "eq" "blog") }}
			{{ with .Page.Resources.GetMatch "feature.*" }}
				{{ $feature = . }}
			{{ end }}
			<a href="{{ .RelPermalink }}" class="list-view-post" {{ with $feature }}style="--background-url: url('{{ (.Resize "500x webp q65").RelPermalink }}');"{{ end }}>
				<span class="post-meta-data">
					<h2 class="title">{{ .Title }}</h2>
					<h3 class="small">{{ .Params.description }}</h3>
					{{ .Date.Format "January 02, 2006" }}
				</span>
			</a>
		{{ end }}
	</section>

{{ end }}