<div class="sidebar-block">
	<h3><i class="fa-duotone fa-cat"></i>-egories:</h3>
	<span>{{ delimit .Params.categories ", " }}</span>

	<hr>

	<h3>Tags:</h3>
	<ul>
		{{ range .Params.tags }}
			<li>{{ . }}</li>
	  {{ end }}
	</ul>
</div>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
	<div class="sidebar-block">
			<h3>Related Posts</h3>
			{{ range . }}
			<div class="related-posts" style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('');">
				<a href="{{ .RelPermalink }}" alt="{{ .Title }}">
					{{ .Title }}
				</a>
			</div>
		{{ end }}
	</div>
{{ end }}

<div class="sidebar-block post-share">
	{{ partial "social-share.html" . }}
</div>