<div class="sidebar-block">
	<h3><i class="fa-duotone fa-cat"></i>-egories:</h3>
	<span>{{ delimit .Params.categories ", " }}</span>

	<hr>

	<h3>Tags:</h3>
	<ul>
		{{ range .Params.tags }}
			<li>{{ . }}</li>
	  {{ end }}
	</ul>
</div>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ $feature := resources.Get "images/feature.jpg" }}
{{ with $related }}
	<div class="sidebar-block">
		<h3>Related Posts</h3>
		{{ range . }}

			{{ with .Page.Resources.GetMatch "feature.*" }}
				{{ $feature = . }}
			{{ end }}

			<div class="related-posts" {{ with $feature }}style="background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{ (.Resize "500x webp q65").RelPermalink }}');"{{ end }}>
				<a href="{{ .RelPermalink }}" alt="{{ .Title }}">
					{{ .Title }}
				</a>
			</div>
		{{ end }}
	</div>
{{ end }}

<div class="sidebar-block post-share">
	{{ partial "social-share.html" . }}
</div>