<form name="Contact Page" method="POST" class="contact-main" data-netlify-recaptcha="true" netlify>
	<div class="field">
		<input type="text" name="name" placeholder="John Doe">
		<label><i class="fa-duotone fa-user-astronaut fa-fw"></i>&nbsp;Name:</label>
	</div>
  <div class="field">
		<input type="email" name="email" placeholder="johndoe@email.com">
  	<label><i class="fa-duotone fa-at fa-fw"></i>&nbsp;Email:</label>
	</div>
  <div class="field">
		<input type="phone" name="phone" placeholder="910-555-5555">
  	<label><i class="fa-duotone fa-phone fa-fw"></i>&nbsp;Phone:</label>
	</div>
  <div class="field">
		<textarea name="message" style="height:200px"></textarea>
  	<label><i class="fa-duotone fa-envelope-open-text fa-fw"></i>&nbsp;Message:</label>
  </div>
  <button id="my-form-button" class="form-submit-button">Submit&nbsp;<i class="fa-duotone fa-paper-plane"></i>&nbsp;</button>
  <p id="my-form-status" style="margin:1em auto;text-align:center;font-weight:700;padding:1em 0;color:#fff"></p>
</form>